<% layout("/layouts/sidebarAdmin.ejs") %>
<body class="adProfile">
    <div id="adminProfile">
        <h1>Hello <%= admin.name%></h1>
        <ul>
            <li><p>Designation : <%= admin.designation%></p></li>
            <li><p>Department : <%= admin.department%></p></li>
            <li><p>Email : <%= admin.email%></p></li>
            <li><p>Phone no : <%= admin.phoneNo%></p></li>
        </ul>
    </div>
   
</body>